# 0. Überblick und Setup
In diesem Notebook gehen wir auf das Vorlesungskapitel 2 mit den Inhalten **Lage + Streuung + Verteilungsform** ein.

In [7]:
import sys
from pathlib import Path

ROOT = Path.cwd().parent          # eine Ebene über notebooks/
if str(ROOT) not in sys.path:
    sys.path.insert(0, str(ROOT))

import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from scipy.stats import zscore, median_abs_deviation
from src.utils_stats import iqr, trimmed_mean, tukey_outliers, modified_z_score, ecdf, z_score, create_na_table
from src.utils_plots import hist_kde, box_violin, plot_ecdf, hist_with_fences, plot_qq


PATH = "../data/Taxi_final_1M.csv"
df = pd.read_csv(PATH)

print(80*"=")
print(f"Datensatz geladen: {df.shape[0]:,} Zeilen, {df.shape[1]} Spalten")
print(80*"-")
print("Erste Zeilen:", "\n", df.head(3))
print(80*"-")
print(df.describe())
print(80*"-")
print(df.info())
print(80*"=")

================================================================================
Datensatz geladen: 999,997 Zeilen, 17 Spalten
--------------------------------------------------------------------------------
Erste Zeilen:
   tpep_pickup_datetime tpep_dropoff_datetime  passenger_count  trip_distance  \
0  2023-02-06 18:31:28   2023-02-06 18:41:28              1.0            2.8
1  2023-01-13 12:22:41   2023-01-13 12:54:42              1.0            0.0
2  2023-01-24 12:53:51   2023-01-24 13:06:09              5.0            2.3

   PULocationID  DOLocationID  payment_type  fare_amount  extra  tip_amount  \
0           162           113             1         11.4    2.5         2.0
1            76            61             1         22.0    0.0         0.0
2           142            48             2         12.1    0.0         0.0

   tolls_amount  improvement_surcharge  total_amount  congestion_surcharge  \
0           0.0                    1.0          19.9                   2.5
1           0.0                    1.0          23.5                   0.0
2           0.0                    1.0          16.1                   2.5

   airport_fee  trip_duration  average_speed
0          0.0           10.0           27.4
1          0.0           32.0            0.0
2          0.0           12.3           18.1
--------------------------------------------------------------------------------
       passenger_count  trip_distance   PULocationID   DOLocationID  \
count    965589.000000  999997.000000  999997.000000  999997.000000
mean          1.371431       6.379764     165.114067     164.009744
std           0.894295     218.072658      63.987243      69.768903
min           0.000000       0.000000       1.000000       1.000000
25%           1.000000       1.700000     132.000000     114.000000
50%           1.000000       2.900000     162.000000     162.000000
75%           1.000000       5.500000     234.000000     234.000000
max           8.000000  148560.100000     265.000000     265.000000

        payment_type    fare_amount          extra     tip_amount  \
count  999997.000000  999997.000000  999997.000000  999997.000000
mean        1.185203      19.461998       1.553423       3.514121
std         0.557130      19.002883       1.841943       4.122940
min         0.000000    -900.000000      -7.500000     -70.000000
25%         1.000000       9.300000       0.000000       1.000000
50%         1.000000      13.500000       1.000000       2.800000
75%         1.000000      21.900000       2.500000       4.400000
max         4.000000    2449.500000      14.250000     700.000000

        tolls_amount  improvement_surcharge   total_amount  \
count  999997.000000          999997.000000  999997.000000
mean        0.585813               0.979089      28.386058
std         2.185004               0.200862      23.687311
min       -36.050000              -1.000000    -901.000000
25%         0.000000               1.000000      15.950000
50%         0.000000               1.000000      21.000000
75%         0.000000               1.000000      30.720000
max        85.000000               1.000000    2451.000000

       congestion_surcharge    airport_fee  trip_duration  average_speed
count         965589.000000  965589.000000  999997.000000       999677.0
mean               2.263851       0.139958      17.447879            inf
std                0.799050       0.468547      40.936206            NaN
min               -2.500000      -1.750000     -52.200000      -104894.0
25%                2.500000       0.000000       7.600000           18.2
50%                2.500000       0.000000      12.600000           24.8
75%                2.500000       0.000000      20.700000           34.5
max                2.500000       1.750000    3713.800000            inf
--------------------------------------------------------------------------------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 999997 entries, 0 to 999996
Data columns (total 17 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   tpep_pickup_datetime   999997 non-null  object
 1   tpep_dropoff_datetime  999997 non-null  object
 2   passenger_count        965589 non-null  float64
 3   trip_distance          999997 non-null  float64
 4   PULocationID           999997 non-null  int64
 5   DOLocationID           999997 non-null  int64
 6   payment_type           999997 non-null  int64
 7   fare_amount            999997 non-null  float64
 8   extra                  999997 non-null  float64
 9   tip_amount             999997 non-null  float64
 10  tolls_amount           999997 non-null  float64
 11  improvement_surcharge  999997 non-null  float64
 12  total_amount           999997 non-null  float64
 13  congestion_surcharge   965589 non-null  float64
 14  airport_fee            965589 non-null  float64
 15  trip_duration          999997 non-null  float64
 16  average_speed          999677 non-null  float64
dtypes: float64(12), int64(3), object(2)
memory usage: 129.7+ MB
None
================================================================================

# 1. Lagekennzahlen

In [8]:
num_cols = df.select_dtypes(include="number")
lagekennzahlen_df = pd.DataFrame({
    "n": num_cols.count(),
    "Mean": num_cols.mean(),
    "Median": num_cols.median(),
    "Modus": num_cols.apply(lambda s: ", ".join(map(str, s.mode().tolist()))), # Wenn es mehrere Modi gibt diese als comma-separated Liste anzeigen
    "Trimmed Mean with 10%": num_cols.apply(lambda x: trimmed_mean(x)),
    "Min": num_cols.min(), 
    "Q1": num_cols.quantile(0.25),
    "Q3": num_cols.quantile(0.75),
    "Max": num_cols.max() 

})
format = {
    c: "{:.2f}"
    for c in lagekennzahlen_df.columns
    if pd.api.types.is_numeric_dtype(lagekennzahlen_df[c])
}

print(115*"=")
print("Überblick über fehlende Werte nach Spalte:")
display(create_na_table(num_cols))
print("\n")

print(115*"-")
print("Überblick über Lagekennzahlen nach Spalte:")
display(lagekennzahlen_df.style.format(format))
print(115*"=")

#plot_hist_with_trimmed_mean(s, alpha=0.10, bins=20,title="Getrimmter Mittelwert ist robuster gegen Ausreisser")

#plot_hist_with_outlier(s, outlier_value=100, bins=12, title="Histogramm mit Ausreisser, Mittelwert & Median")

#plot_hist_no_outlier(s, bins=20, title="Ohne Ausreisser")
#plot_hist_with_outlier_only(s, outlier_value=120, bins=20, title="Mit Ausreisser")

===================================================================================================================
Überblick über fehlende Werte nach Spalte:

                   column  n_missing  percent_missing
0         passenger_count      34408              3.4
1           trip_distance          0              0.0
2            PULocationID          0              0.0
3            DOLocationID          0              0.0
4            payment_type          0              0.0
5             fare_amount          0              0.0
6                   extra          0              0.0
7              tip_amount          0              0.0
8            tolls_amount          0              0.0
9   improvement_surcharge          0              0.0
10           total_amount          0              0.0
11   congestion_surcharge      34408              3.4
12            airport_fee      34408              3.4
13          trip_duration          0              0.0
14          average_speed        320              0.0

-------------------------------------------------------------------------------------------------------------------
Überblick über Lagekennzahlen nach Spalte:

===================================================================================================================

# 2. Streuungskennzahlen

In [9]:
# Klassische & robuste Streuungskennzahlen
streuungskennzahlen_df = pd.DataFrame({
    "SD": num_cols.std(),
    "Var": num_cols.var(),
    "IQR": num_cols.quantile(0.75) - num_cols.quantile(0.25),
    "MAD": num_cols.apply(lambda x: median_abs_deviation(x)),
    "Range": num_cols.max() - num_cols.min()
})
display(streuungskennzahlen_df.style.format("{:,.2f}"))

# 3. Ausreißer erkennen (Diagnose)

In [10]:
def create_outlier_table(df):
    results = []

    for col in num_cols.columns:
        s = num_cols[col].astype(float)

        z_mask = z_score(s)

        modz_mask = modified_z_score(s)
        tukey_mask = tukey_outliers(s)

        results.append({
            "Spalte": col,
            "Z-Score": int(z_mask.sum()),
            "Modified Z-Score": int(modz_mask.sum()),
            "Tukey IQR": int(tukey_mask.sum())
        })

    outlier_table = pd.DataFrame(results).set_index("Spalte")
    display(outlier_table)

create_outlier_table(num_cols)

/opt/anaconda3/lib/python3.12/site-packages/numpy/core/_methods.py:173: RuntimeWarning: invalid value encountered in subtract
  x = asanyarray(arr - arrmean)

                       Z-Score  Modified Z-Score  Tukey IQR
Spalte
passenger_count          21021                 0     240076
trip_distance               24            136426     130715
PULocationID                 0                 0          0
DOLocationID                 0                 0          0
payment_type             19319                 0     221690
fare_amount              12118            101557     108910
extra                    16991             18729      18294
tip_amount               25905             47659      76499
tolls_amount              6187                 0      81129
improvement_surcharge    11101                 0      11101
total_amount             16660            120809     125095
congestion_surcharge      8024                 0      83185
airport_fee              64542                 0      85813
trip_duration             1011             49586      59672
average_speed                0             51124      68580

# 4. Verteilungsform (Histogramm + KDE)

In [ ]:
for v,u in [("trip_distance","miles"),
            ("trip_duration","min"),
            ("average_speed","mph"),
            ("fare_amount","USD"),
            ("tip_amount","USD"),
            ("total_amount","USD")]:
    hist_kde(df[v], title=v, unit=u, bw_adjust_list=(0.7, 1.0, 1.8))
    box_violin(df[v], title=v)
    plot_ecdf(df[v], title=v, unit=u)