# 0. Ãœberblick und Setup
In diesem Notebook gehen wir auf das Vorlesungskapitel 2 mit den Inhalten **Lage + Streuung + Verteilungsform** ein.

In [17]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import sys, os
sys.path.append(os.path.abspath("."))
from src.utils_stats import *
from src.utils_plots import *

PATH = "../data/Taxi_final_1M.csv"
df = pd.read_csv(PATH)

print(80*"=")
print(f"Datensatz geladen: {df.shape[0]:,} Zeilen, {df.shape[1]} Spalten")
print(80*"-")
print("Erste Zeilen:", "\n", df.head(3))
print(80*"-")
print(df.describe())
print(80*"-")
print(df.info())
print(80*"=")

================================================================================
Datensatz geladen: 999,997 Zeilen, 17 Spalten
--------------------------------------------------------------------------------
Erste Zeilen:
   tpep_pickup_datetime tpep_dropoff_datetime  passenger_count  trip_distance  \
0  2023-02-06 18:31:28   2023-02-06 18:41:28              1.0            2.8
1  2023-01-13 12:22:41   2023-01-13 12:54:42              1.0            0.0
2  2023-01-24 12:53:51   2023-01-24 13:06:09              5.0            2.3

   PULocationID  DOLocationID  payment_type  fare_amount  extra  tip_amount  \
0           162           113             1         11.4    2.5         2.0
1            76            61             1         22.0    0.0         0.0
2           142            48             2         12.1    0.0         0.0

   tolls_amount  improvement_surcharge  total_amount  congestion_surcharge  \
0           0.0                    1.0          19.9                   2.5
1           0.0                    1.0          23.5                   0.0
2           0.0                    1.0          16.1                   2.5

   airport_fee  trip_duration  average_speed
0          0.0           10.0           27.4
1          0.0           32.0            0.0
2          0.0           12.3           18.1
--------------------------------------------------------------------------------
       passenger_count  trip_distance   PULocationID   DOLocationID  \
count    965589.000000  999997.000000  999997.000000  999997.000000
mean          1.371431       6.379764     165.114067     164.009744
std           0.894295     218.072658      63.987243      69.768903
min           0.000000       0.000000       1.000000       1.000000
25%           1.000000       1.700000     132.000000     114.000000
50%           1.000000       2.900000     162.000000     162.000000
75%           1.000000       5.500000     234.000000     234.000000
max           8.000000  148560.100000     265.000000     265.000000

        payment_type    fare_amount          extra     tip_amount  \
count  999997.000000  999997.000000  999997.000000  999997.000000
mean        1.185203      19.461998       1.553423       3.514121
std         0.557130      19.002883       1.841943       4.122940
min         0.000000    -900.000000      -7.500000     -70.000000
25%         1.000000       9.300000       0.000000       1.000000
50%         1.000000      13.500000       1.000000       2.800000
75%         1.000000      21.900000       2.500000       4.400000
max         4.000000    2449.500000      14.250000     700.000000

        tolls_amount  improvement_surcharge   total_amount  \
count  999997.000000          999997.000000  999997.000000
mean        0.585813               0.979089      28.386058
std         2.185004               0.200862      23.687311
min       -36.050000              -1.000000    -901.000000
25%         0.000000               1.000000      15.950000
50%         0.000000               1.000000      21.000000
75%         0.000000               1.000000      30.720000
max        85.000000               1.000000    2451.000000

       congestion_surcharge    airport_fee  trip_duration  average_speed
count         965589.000000  965589.000000  999997.000000       999677.0
mean               2.263851       0.139958      17.447879            inf
std                0.799050       0.468547      40.936206            NaN
min               -2.500000      -1.750000     -52.200000      -104894.0
25%                2.500000       0.000000       7.600000           18.2
50%                2.500000       0.000000      12.600000           24.8
75%                2.500000       0.000000      20.700000           34.5
max                2.500000       1.750000    3713.800000            inf
--------------------------------------------------------------------------------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 999997 entries, 0 to 999996
Data columns (total 17 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   tpep_pickup_datetime   999997 non-null  object
 1   tpep_dropoff_datetime  999997 non-null  object
 2   passenger_count        965589 non-null  float64
 3   trip_distance          999997 non-null  float64
 4   PULocationID           999997 non-null  int64
 5   DOLocationID           999997 non-null  int64
 6   payment_type           999997 non-null  int64
 7   fare_amount            999997 non-null  float64
 8   extra                  999997 non-null  float64
 9   tip_amount             999997 non-null  float64
 10  tolls_amount           999997 non-null  float64
 11  improvement_surcharge  999997 non-null  float64
 12  total_amount           999997 non-null  float64
 13  congestion_surcharge   965589 non-null  float64
 14  airport_fee            965589 non-null  float64
 15  trip_duration          999997 non-null  float64
 16  average_speed          999677 non-null  float64
dtypes: float64(12), int64(3), object(2)
memory usage: 129.7+ MB
None
================================================================================

# 1. Lagekennzahlen

In [13]:
vars_num = ["trip_distance","trip_duration","average_speed","fare_amount","tip_amount","total_amount"]

def location_row(s):
    s = s.dropna()
    return pd.Series({
        "n": s.size,
        "Median": s.median(),
        "Mean": s.mean(),
        "TrimmedMean(10%)": trimmed_mean(s, 0.10)
    })

location_summary = pd.concat([location_row(df[v]).rename(v) for v in vars_num], axis=1).T
display(location_summary.style.format("{:,.2f}"))

# 2. Streuungskennzahlen

In [14]:
def spread_summary(s):
    s = s.dropna()
    q1, q3 = s.quantile([.25, .75])
    IQR = q3 - q1
    MAD = (s - s.median()).abs().median()
    return pd.Series({
        "IQR": IQR,
        "MAD": MAD,
        "Var": np.var(s, ddof=1),
        "SD": np.std(s, ddof=1)
    })

spread_tbl = pd.concat([spread_summary(df[v]).rename(v) for v in vars_num], axis=1).T
display(spread_tbl)

                 IQR  MAD           Var          SD
trip_distance   3.80  1.5  47555.684075  218.072658
trip_duration  13.10  5.9   1675.772949   40.936206
average_speed  16.30  7.7           NaN         NaN
fare_amount    12.60  5.6    361.109557   19.002883
tip_amount      3.40  1.8     16.998631    4.122940
total_amount   14.77  6.3    561.088710   23.687311

# 3. AusreiÃŸer erkennen (Diagnose)

In [12]:
def tukey_fences(s, k=1.5):
    s = s.dropna()
    q1, q3 = s.quantile([.25,.75])
    I = q3 - q1
    return q1 - k * I, q3 + k * I

def modified_z(s):
    s = s.dropna()
    MAD = (s - s.median()).abs().median()
    if MAD == 0: return pd.Series(0.0, index=s.index)
    return 0.6745 * (s - s.median()) / MAD

rows = []
for v in vars_num:
    s = df[v].dropna()
    lo, hi = tukey_fences(s, 1.5)
    tukey_mask = (s < lo) | (s > hi)
    mz = modified_z(s).abs() > 3.5

    # Flags im DF (fÃ¼r Kap. 4)
    df[f"{v}__out_tukey"] = False
    df.loc[s.index, f"{v}__out_tukey"] = tukey_mask
    df[f"{v}__out_modz"]  = False
    df.loc[s.index, f"{v}__out_modz"]  = mz

    rows.append([v, s.size, int(tukey_mask.sum()), int(mz.sum()), lo, hi])

outlier_df = pd.DataFrame(rows, columns=["var","n","Tukey_1.5IQR","modZ>|3.5|","lo","hi"])
display(outlier_df.style.format({"lo":"{:.2f}","hi":"{:.2f}"}))

# 4. Verteilungsform (Histogramm + KDE)

In [ ]:
for v,u in [("trip_distance","miles"),
            ("trip_duration","min"),
            ("average_speed","mph"),
            ("fare_amount","USD"),
            ("tip_amount","USD"),
            ("total_amount","USD")]:
    hist_kde(df[v], title=v, unit=u, bw_adjust_list=(0.7, 1.0, 1.8))
    box_violin(df[v], title=v)
    plot_ecdf(df[v], title=v, unit=u)